

          <div *ngIf="!detailsError">

	           <div class="form-group margin-bottom clearfix">

              <div class="row margin-bottom clearfix">
                    <div class="col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-8 no-right-padding">
                          <button type="button" class="btn-onboard" style="float: right;" (click)="redirect()">Onboard New Edge<i class="fa fa-angle-right" aria-hidden="true" style="font-size: 19pt; top: 9px; right: 7px; position: absolute;"></i></button>
                    </div>
               </div>

	                    <div class="row margin-bottom clearfix" style="background-color: #e9e9e9; padding: 10px 0;">
                        <!-- <div class="col-md-6 col-lg-6">
                             <span>
                                 <label class="apps-label">Status:</label>
                                 <label class="title-small">{{selectedEdgeDetails.onBoardStatus}}</label>
                             </span>
                        </div> -->
                        <div class="col-md-12" style="text-align: right">
                            <span><img src="assets/image/icons/trash.png" height = "27px" width ="26px" data-toggle="modal" data-target="#deleteDetails"></span>
                         </div>
                         <div class="modal fade" id="deleteDetails" role="dialog" >
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>
                              <div class="modal-body" style="text-align: center;">
                                 <span *ngIf="!deletePopup"><h3 class="margin-bottom">Are you sure you want to delete?</h3></span>
                                 <div class="row margin-bottom" *ngIf="!deletePopup">
                                     <div class="col-md-3 col-md-offset-3">
                                         <button class="btn-cancel" data-dismiss="modal">Cancel</button>
                                     </div>
                                     <div class="col-md-3">
                                         <button class="btn-next" (click)="deleteDetails()">Delete</button>
                                     </div>
                                 </div>
                                 <div class="row margin-bottom" *ngIf="deletePopup">
                                     <h3  class="margin-bottom" *ngIf="!deleteFailed">Your delete request was submitted successfully</h3>
                                     <h3  class="margin-bottom" *ngIf="deleteFailed">{{errorMessage}}. Please try again later</h3>

                                     <div class="col-md-4 col-md-offset-4">
                                         <button class="btn-next" data-dismiss="modal" (click)="pageRedirect()">OK</button>
                                     </div>
                                 </div>
                              </div>
                            </div>
                          </div>
                        </div>
						</div>
              <app-loader [loading]="loading" *ngIf="loading"></app-loader>
	                         <div class="row margin-bottom-large">
	            		            <div class="col-md-2 no-padding" *ngIf ="selectedEdgeDetails.icon!=undefined && selectedEdgeDetails.icon!=null">
	            		                  <img [src]="'data:image/png;base64,'+ selectedEdgeDetails.icon"  class="img-rounded" width="100" height="100">
	            		            </div>

	            		            <div class="col-md-2 no-padding" *ngIf ="selectedEdgeDetails.icon==undefined || selectedEdgeDetails.icon==null">
	            		                  <img src="assets/image/images.png"  class="img-rounded" width="100" height="100">
	            		            </div>

	            		            <div class="col-md-8 no-padding">
	            		                  <div class="col-md-12 no-padding"> <h2 style="margin-top: 0;">{{selectedEdgeDetails.edgeName}}</h2> </div>
										  <div class="col-md-12 no-padding">
											  <label class="small-form-label">Operator:</label>
											  <label class="small-form-label">{{selectedEdgeDetails.operator}}</label>
										  </div>
									</div>
<!--									<div class="col-md-12 no-padding">
	                                       <div class="col-md-1 no-padding">
										   </div>
										   <div class="col-md-4 no-padding">
										   </div>
									</div> -->
	                        </div>

	                        <div class="row margin-bottom">
	                          <ul class="nav nav-tabs no-border">
	                              <li class="active"><a class="custom-tabs" data-toggle="tab" href="#home">Overview</a></li>
	                              <!-- <li><a class="custom-tabs" data-toggle="tab" href="#menu1" >Microservices</a></li>
	                              <li><a class="custom-tabs" data-toggle="tab" href="#menu2">Usage</a></li> -->
	                          </ul>
	                          <div class="tab-content" style="padding: 20px; border:1px solid #e9e9e9;">
	                              <div id="home" class="tab-pane fade in active">
	                                  <div class="row margin-bottom">
	                                      <div class="col-md-12">
	                                         <div class="title margin-bottom-medium">Description</div>
	                                      </div>
	                                      <div class="col-md-12">
	                                           <label class="form-label">
	                                                {{selectedEdgeDetails.description}}
	                                            </label>
	                                      </div>
	                                  </div>

	                                  <div class="row margin-bottom">
	                                      <div class="col-md-4">
	                                           <div class="col-md-12 no-padding">
	                                                <div class="title margin-bottom-medium">The Edge</div>
	                                           </div>

	                                           <div class="col-md-12 no-padding">
	                                                <label class="small-form-label">Telco User:</label>
	                                                <label class="small-form-label">{{selectedEdgeDetails.telcoUser}}</label>
	                                            </div>
	                                            <div class="col-md-12 no-padding">
	                                                <label class="small-form-label">Location:</label>
	                                                <label class="small-form-label">{{selectedEdgeDetails.location}}</label>
	                                            </div>

	                                            <div class="col-md-12 no-padding">
	                                                <label class="small-form-label">IAM URL:</label>
	                                                <label class="small-form-label">{{selectedEdgeDetails.iamUrl}}</label>
	                                           </div>
											   <!-- <div class="col-md-12 no-padding">
	                                                <label class="small-form-label">Latitude:</label>
	                                                <label class="small-form-label">{{selectedEdgeDetails.latitude}}</label>
	                                           </div>
											   <div class="col-md-12 no-padding">
	                                                <label class="small-form-label">Longitude:</label>
	                                                <label class="small-form-label">{{selectedEdgeDetails.longitude}}</label>
	                                           </div> -->
	                                    </div>

                                      <div class="col-md-4">
  	                                       <div class="col-md-12 no-padding">
  	                                            <div class="title margin-bottom-medium">Resource Reservation</div>
  	                                       </div>
  	                                       <div class="col-md-12 no-padding">
  	                                            <label class="small-form-label" >No. of CPU:<span *ngIf="selectedEdgeDetails.resource!=null"> {{selectedEdgeDetails.resource.cpu}}</span></label>
  											                    </div>
  											                    <div class="col-md-12 no-padding">
  												                      <label class="small-form-label">Memory: <span *ngIf="selectedEdgeDetails.resource!=null">{{selectedEdgeDetails.resource.memory}}</span></label>
  											                    </div>
                      											<div class="col-md-12 no-padding">
                      												<label class="small-form-label">Storage:<span *ngIf="selectedEdgeDetails.resource!=null"> {{selectedEdgeDetails.resource.storage}}</span></label>
                      											</div>
  	                                    </div>

	                                    <div class="col-md-4">
	                                         <div class="col-md-12 no-padding">
	                                              <div class="title margin-bottom-medium">Usage Charges</div>
	                                         </div>

	                                         <div class="col-md-12 no-padding">
	                                              <label class="small-form-label">Charge per CPU: <span *ngIf="selectedEdgeDetails.usageCharges!=null">${{selectedEdgeDetails.usageCharges.cpuCharge}}</span></label>
											</div>
											<div class="col-md-12 no-padding">
												  <label class="small-form-label">Charge per GB Memory:<span *ngIf="selectedEdgeDetails.usageCharges!=null">${{selectedEdgeDetails.usageCharges.memoryCharge}}</span></label>
											</div>
											<div class="col-md-12 no-padding">
												  <label class="small-form-label">Charge per GB storage:<span *ngIf="selectedEdgeDetails.usageCharges!=null">${{selectedEdgeDetails.usageCharges.storageCharge}}</span></label>
	                                          </div>

	                                         <!--  <div class="col-md-12 no-padding">
	                                              <label class="small-form-label">Uptime:</label>
	                                              <label class="small-form-label">3 days and 42 mins</label>
	                                          </div> -->
	                                  </div>


	                            </div>

	                            <!-- <div class="row margin-bottom">
	                                <div class="col-md-12">
	                                    <span style="margin-right: 10px;"> <input type="image" src="assets/image/icons/download.png" style="height: 21px;"></span>
	                                    <a href="javascript:" class="download-doc">Download App Documentation</a>
	                                </div>
	                            </div> -->
	                        </div>
	                      </div>
	                     </div>
                   </div>
				  </div>
         <div class="form-group margin-bottom" *ngIf="detailsError">
              <h2 style="font-color:grey;text-align:center">{{errorMessage}} Details could not be fetched</h2>
        </div>
